<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    failOnNotice="true"
    failOnDeprecation="true"
    failOnWarning="true"
    failOnIncomplete="true"
    failOnEmptyTestSuite="true"
    colors="true"
    cacheDirectory=".build/.phpunit.cache"
>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
        <ini name="intl.default_locale" value="de-DE"/>
    </php>
    <testsuites>
        <testsuite name="Fluxcap Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/</directory>
        </include>
        <exclude>
            <directory>src/Exception/</directory>
        </exclude>
    </source>
</phpunit>
